<h2>Choose Your Diet</h2>
    <%= button_to "Vegan", food_search_path(:diet => "vegan") %>
    <%= button_to "Vegetarian", food_search_path(:diet => "vegetarian") %>
    <%= button_to "Gluten Free", food_search_path(:diet => "gluten-free") %>
    <%= button_to "Pescetarian", food_search_path(:diet => "pescetarian") %>
    <%= button_to "Omnivore", food_search_path(:diet => "restaurants") %>

<h2>Choose Your Location</h2>
    <p>Or Enable Location Services</p>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrX6B-a38j6WD0yW72AMyuwIJ03Z0rMMQ"></script>
